<div
  (window:keydown)="handleKey($event)"
  class="gameRoot"
  >
  <div class="taskBgWrapper">
  <div class="taskBg">
  </div>
  </div>
  <div class="taskList">
    <div
      *ngFor="let task of player.taskQueue"
      class="task" [ngClass]="{'taskIn': isMoving}"
      [ngStyle]="taskStyle"
      >
      <app-command-component
        *ngFor="let m of task.move; let i = index"
        [index]="i" [command]="m"
        ></app-command-component> 
    </div>
  </div>
  <div class="point">
    Point: <b class="pointNum">{{player.score}}</b>
  </div>
  <button [disabled]="isGameBegin" (click)="beginGame()">
    start
  </button>
  <div *ngIf="isGameReady === true">
    Ready...
  </div>
  <div *ngIf="isGameReady === false && isGameBegin === true">
    Go!
  </div>
  <div
    *ngFor="let k of keyStrokes"
    >
    <stroke-component [command]="k"></stroke-component>
  </div>
</div>
