.wrapper {
  --border-color: black;

  width: 94px;
  height: 94px;
  margin-top: 8px;
}

.row {
  display: flex;
}
.row:not(:first-child) {
  margin-top: 2px;
}

.inner {
  width: 30px;
  height: 30px;
  background-color: tomato;
  opacity: 0.3;
}
.inner:not(:first-child) {
  margin-left: 2px;
}
.inner.active {
  background-color: tomato;
  opacity: 1;
}